:root {
 --default-bg: #070B0F;
 --defaultcolor: #DBDDDF;
 --specialcolor: #BAFE03;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  background: var(--default-bg);
}

.wrapper {
  width: 90%;
  margin: 1em auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.crypto-title {
color: #BAFE03;
}

.crypto-content {
   width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-top: 2em;
}

.crypto-content h1 {
  margin: .5em 0;
  padding: 0;
  color: #fff;
}


.crypto-list {
  width: 100%;
  align-self: center;
  color: #fff;
  text-align: center;
  margin-top: 2em;
}

#search {
  width: 90%;
  display: block;
  padding: 1em 2em;
}

.coin-page {

  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, minmax(100px, auto));
  grid-template-rows: auto ;
  gap: .2em;
  margin: 2em 0;
  color: #fff;
}


.sidebar {
  grid-column: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.sidebar div {
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.chart-div  {
   grid-column: 4 / -1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.chart {
  width: 90%;
  height: 100%;
}

.crypto-list th, td {
  padding: .3em .5em;
  border-bottom: 1px solid #BAFE03;
}

.crypto-list th {
  background: #BAFE03;
  color: #000;
  font-weight: 700;
  font-size: 1.5em;
}

.crypto-title {
cursor: pointer;
}

.navlink {
  text-decoration: none;
}

.crypto-Card {
  width: auto;
  height: auto;
  margin: .5em 1em;
  color: #fff;
  cursor: pointer;
}

.crypto-Card img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
    }

    @media (max-width: 500px) {
      .wrapper {
        width: 100%;
        margin: .5em auto;
      }
      .crypto-content {
        width: 100%;
      }

       #search {
        width: 90%;
       }
      .crypto-list {
        width: auto;
       
      }
    }

